In [1]:
# ruff: noqa: F401

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from datetime import datetime
from typing import Any

import numpy as np
import polars as pl

from encomp.fluids import Water
from encomp.misc import isinstance_types
from encomp.units import Quantity as Q
from encomp.units import Unit
from encomp.utypes import (
    DT,
    MT,
    Currency,
    Density,
    Dimensionality,
    Dimensionless,
    Length,
    Mass,
    Numpy1DArray,
    Power,
    Temperature,
    TemperatureDifference,
    Time,
    UnitsContainer,
    UnknownDimensionality,
)

In [4]:
w = Water(P=Q(pl.lit(5), "bar"), T=Q(pl.col.T, "degC"))


pl.DataFrame({"T": [150, 200, 250]}).with_columns(w.D.m)

shape: (3, 2)
┌─────┬────────────┐
│ T   ┆ D          │
│ --- ┆ ---        │
│ i64 ┆ f32        │
╞═════╪════════════╡
│ 150 ┆ 917.020203 │
│ 200 ┆ 2.352755   │
│ 250 ┆ 2.107798   │
└─────┴────────────┘

In [9]:
repr(Water(P=Q(pl.lit(5), "bar"), T=Q(50, "degC")))

'<Water (Unknown), P=<pl.Expr>, T=<pl.Expr>, D=<pl.Expr>, V=<pl.Expr>>'

In [6]:
pl.select(Water(P=Q(pl.lit(5), "bar"), T=Q(pl.lit(250), "degC")).D.m)

shape: (1, 1)
┌──────────┐
│ D        │
│ ---      │
│ f32      │
╞══════════╡
│ 2.107798 │
└──────────┘

In [7]:
pl.DataFrame({"T": [150, 200, 250]}).select((pl.col.T * 2).alias("asd"))

shape: (3, 1)
┌─────┐
│ asd │
│ --- │
│ i64 │
╞═════╡
│ 300 │
│ 400 │
│ 500 │
└─────┘