In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path
import sys
sys.path.insert(0, str(Path('../..').resolve()))

# Test notebook

In [3]:
import encomp
encomp.__version__, encomp

('0.8.0',
 <module 'encomp' from '/home/williaml@indmeas.local/repos/encomp/encomp/__init__.py'>)

In [4]:
from encomp.units import Quantity as Q
from encomp.utypes import *
import numpy as np
import pandas as pd

In [16]:

index = pd.date_range('2020-01-01', '2020-01-02', freq='h')
df = pd.DataFrame(index=index)

df['input'] = np.linspace(0, 1, len(df))

q_vector = Q(df['input'], 'm/s')

# assigns a float array, as expected
df['A'] = q_vector.to('kmh')

q_scalar = Q(25, 'ton/h')

# assigns a repeated array of Quantity objects
df['B'] = q_scalar

# identical to the previous assignment
df['C'] = [q_scalar] * len(df)

# this will be correctly broadcasted to a repeated int array
df['D'] = q_scalar.m

df.head()
#                         input     A        B        C   D
# 2020-01-01 00:00:00  0.000000  0.00  25 t/hr  25 t/hr  25
# 2020-01-01 01:00:00  0.041667  0.15  25 t/hr  25 t/hr  25
# 2020-01-01 02:00:00  0.083333  0.30  25 t/hr  25 t/hr  25
# 2020-01-01 03:00:00  0.125000  0.45  25 t/hr  25 t/hr  25
# 2020-01-01 04:00:00  0.166667  0.60  25 t/hr  25 t/hr  25

# df.dtypes

# input    float64
# A        float64
# B         object
# C         object
# D          int64
# dtype: object

                        input     A         B         C     D
2020-01-01 00:00:00  0.000000  0.00  25.0 t/h  25.0 t/h  25.0
2020-01-01 01:00:00  0.041667  0.15  25.0 t/h  25.0 t/h  25.0
2020-01-01 02:00:00  0.083333  0.30  25.0 t/h  25.0 t/h  25.0
2020-01-01 03:00:00  0.125000  0.45  25.0 t/h  25.0 t/h  25.0
2020-01-01 04:00:00  0.166667  0.60  25.0 t/h  25.0 t/h  25.0